   {% load static %}

    <footer class="footer-3 text-center-xs space--xs bg--dark " >
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <img alt="Image" class="logo" src="{% static "img/logo-yuzu.png"%}" />
                            <ul class="list-inline list--hover">
                                <li>
                                    <a >
                                        <span class="type--fine-print">Get Started</span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="type--fine-print">akashsahoo15595@gmail.com</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 text-right text-center-xs">
                              <ul class="social-network social-circle ">
                            <li style="float:right"><a href="#" class="icoFacebook" title="Facebook"> <img src="{% static "img/facebook-icon.png" %}"><i class="fa fa-facebook" aria-hidden="true"></i></img></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="type--fine-print">
                                Stay Connect with us !
                            </p>
                        </div>

                    </div>

                    <!--end of row-->
                </div>
                <!--end of container-->
            </footer>
        </div>
        <style>
        #message-wrapper {
            display: block !important;
        }
        </style>
        <script src="{% static "js/countdown.min.js"%}"></script>
        <script src="{% static "js/datepicker.js"%}"></script>
        <script src="{% static "js/easypiechart.min.js"%}"></script>
        <script src="{% static "js/flickity.min.js"%}"></script>
        <script src="{% static "js/jquery.steps.min.js"%}"></script>
        <script src="{% static "js/parallax.js"%}"></script>
        <script src="{% static "js/spectragram.min.js"%}"></script>
        <script src="{% static "js/twitterfetcher.min.js"%}"></script>
        <script src="{% static "js/ytplayer.min.js"%}"></script>
        <script src="{% static "js/typed.min.js"%}"></script>
        <script src="{% static "js/isotope.min.js"%}"></script>
        <script src="{% static "js/granim.min.js"%}"></script>
        <script src="{% static "js/smooth-scroll.min.js"%}"></script>
        <script src="{% static "js/scripts.js"%}"></script>
        <script type="text/javascript">
            setTimeout(function() {
                $("#message-wrapper").remove();
            }, 400)
        </script>
    </body>


</html>



