
{% include 'base.html'%}
{% load static %}

<head>
        <meta charset="utf-8">
        <title>Assignment | Home Page</title>

    </head>
    <body class=" " data-smooth-scroll-offset='64'>
        <a id="start"></a>

        <div class="main-container">
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h6 class="type--uppercase">My assignment </h6>
                            <div class="typed-headline">
                                <span class="h1 inline-block">Simple login and registration </span>
                                <span class="h1 inline-block typed-text typed-text--cursor color--primary" data-typed-strings="post project.,for .,parkzap">the design conscious.</span>
                            </div>
                            <p class="lead">

                          Akash sahoo .
                            </p>
                            <a class="btn btn--primary type--uppercase inner-link" href="#demos">

                            </a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <a id="demos"></a>
            <section class="text-center cta cta-4 space--xxs border--bottom imagebg" data-gradient-bg='#4876BD,#5448BD,#8F48BD,#BD48B1'>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="label label--inline">Hot!</span>
                            <span>

Home page </span>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

          </div>
          {% include 'footer.html' %}